*{
    margin: 0;
    padding: 0;
}
.cabeçalho {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: maroon;
    color: white;
    border-radius: 30px 0;
    padding: 24px 0;
}
.logo {
    width: 10%;
}
.item-lista-cabeçalho {
    display: inline-block;
    padding: 0 50px;
    }